.about-us {
  margin-bottom: 105px;

  h2 {
    margin: 0;
    margin-bottom: 50px;
    font-weight: 600;
    font-size: 30px;
    line-height: 1;
    text-align: center;
    color: $about-us--txt;
  }
}

.about-us__list {
  counter-reset: block;
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.about-us__item {
  position: relative;
  width: 270px;
  margin: 0 15px 45px;
  padding-top: 55px;
  font-size: 22px;
  line-height: 1.55;
  text-align: center;

  &::before {
    position: absolute;
    counter-increment: block;
    content: "0"counter(block);
    top: 0;
    transform: translateX(-50%);
    left: 50%;
    width: 60px;
    height: 38px;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.35;
    text-align: center;
    letter-spacing: -1.27273px;
    color: $about-us--counter;
  }
}

@media (min-width: $desktop-width-max) {
  .about-us__list {
    width: 1200px;
    margin: 0 -15px;
  }
}

@media (max-width: $tablet-width) {
  .about-us {
    margin-bottom: 25px;

    h2 {
      margin-bottom: 30px;
      font-size: 24px;
      line-height: 1.7;
    }
  }
}

@media (max-width: $mobile-width) {
  .about-us {
    margin-bottom: 35px;
  }

  .about-us__list {
    width: 280px;
  }

  .about-us__item {
    margin: 0 auto 35px;
  }
}
