.btn {
  display: block;
  width: 100%;
  padding: 12px 28px;
  font: inherit;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.4;
  text-align: center;
  color: $btn--txt;
  background: $btn--bg;
  border-radius: 6px;
  border: 3px solid $btn--bg;
  outline: none;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $btn--txt-hover;
    background: $btn--bg-hover;
  }

  &:active {
    color: $btn--txt-active;
    background: $btn--bg-active;
  }
}

@media (max-width: $tablet-width) {
  .btn {
    padding: 12px 18px;

    &:hover,
    &:focus {
      padding: 11px 17px;
    }
  }
}

@media (max-width: $mobile-width) {
  .btn {
    padding: 12px 24px;

    &:hover,
    &:focus {
      padding: 11px 23px;
    }
  }
}
