.types {
  padding-top: 150px;
  padding-bottom: 100px;
  background-color: $types--bg;

  h2 {
    margin: 0;
    margin-bottom: 50px;
    font-weight: 600;
    font-size: 30px;
    line-height: 1;
    text-align: center;
    color: $types--txt;
  }
}

.types__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin: 0 -10px;
  padding: 0;
  list-style: none;
}

.types__item {
  margin: 0 25px 50px;
}

.types__link {
  position: relative;
  display: block;
  color: $page--txt;
  outline: none;

  &::before,
  &::after {
    position: absolute;
    content: "";
  }

  .types__item:nth-of-type(3n+1) &::before {
    top: 156px;
    left: -60px;
    z-index: 1;
    width: 180px;
    height: 180px;
    border: 27px solid $types--decor;
    border-radius: 50%;
  }

  .types__item:nth-of-type(3n) &::before {
    top: -32px;
    right: -36px;
    z-index: 3;
    width: 95px;
    height: 95px;
    border: 17px solid $types--decor;
    border-radius: 50%;
  }

  img {
    position: relative;
    display: block;
    z-index: 2;
    width: 342px;
    height: auto;
    min-height: 500px;
    margin-bottom: 20px;
    color: $page--txt;
    background-color: $types--img-bg;
    border-radius: 10px;
    object-fit: cover;
    transition: all 0.3s ease;
  }

  h3 {
    margin: 0;
    font-weight: 600;
    font-size: 22px;
    line-height: 1.55;
    text-align: center;
    letter-spacing: -0.5px;
  }

  &:hover,
  &:focus {
    color: $types--link-hover;

    img {
      transform: scale(1.03);
    }
  }

  &:active {
    color: $types--link-active;

    img {
      transform: scale(0.97);
    }
  }
}

@media (min-width: $desktop-width-only) {
  .types__link {
    .types__item:nth-of-type(3n+2) &::before,
    .types__item:nth-of-type(3n+2) &::after {
      z-index: 3;
      width: 47px;
      height: 47px;
      border: 8px solid $types--decor;
    }

    .types__item:nth-of-type(3n+2) &::before {
      top: -18px;
      left: -19px;
    }

    .types__item:nth-of-type(3n+2) &::after {
      bottom: 31px;
      right: -23px;
    }
  }

  .types__item {
    &:nth-of-type(3n+1) {
      margin-top: 10px;
    }

    &:nth-of-type(3n+2) {
      margin-top: 40px;
    }
  }
}

@media (max-width: $tablet-width) {
  .types {
    padding-top: 50px;
    padding-bottom: 20px;

    h2 {
      margin-bottom: 30px;
      font-size: 24px;
      line-height: 1.7;
    }
  }

  .types__link {
    .types__item:nth-of-type(3n+1) &::before {
      top: auto;
      bottom: 26px;
      left: -37px;
      width: 127px;
      height: 127px;
      border-width: 18px;
    }

    .types__item:nth-of-type(3n) &::before {
      top: -20px;
      right: -25px;
      width: 68px;
      height: 68px;
      border-width: 13px;
    }

    img {
      width: 270px;
      height: 300px;
      min-height: 300px;
    }
  }
}

@media (max-width: $mobile-width) {
  .types {
    padding-bottom: 10px;

    h2 {
      margin-bottom: 30px;
      font-size: 24px;
      line-height: 1.7;
    }
  }

  .types__list {
    flex-direction: column;
    align-items: center;
  }

  .types__item {
    margin: 0;
    margin-bottom: 42px;
  }

  .types__link {
    .types__item:nth-of-type(3n+1) &::before {
      bottom: 28px;
      left: -24px;
    }

    .types__item:nth-of-type(3n) &::before {
      right: -15px;
    }
  }
}
