.video {
  margin-bottom: 250px;
  padding-top: 120px;
  padding-bottom: 1px;
  background-color: $video--bg;

  h2 {
    margin: 0;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 30px;
    line-height: 1;
    text-align: center;
    color: $video--txt;
  }

  p {
    margin: 0;
    margin-bottom: 55px;
    font-weight: 300;
    text-align: center;
    color: $video--txt-alt;
  }
}

.video__inner {
  position: relative;
  width: max-content;
  max-width: 100%;
  margin: 0 auto -100px;

  img {
    display: block;
    width: 929px;
    height: 522px;
    color: $video--txt-alt;
    background-color: $video--inner-bg;
  }
}

.video__btn {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65px;
  height: 65px;
  padding: 23px;
  padding-left: 29px;
  background-color: $video--btn-bg;
  border: none;
  border-radius: 50%;
  outline: none;

  &:hover,
  &:focus {
    transform: translate(-50%, -50%) scale(1.2);
  }

  &:active {
    transform: translate(-50%, -50%) scale(0.8);
  }

  svg {
    width: 13px;
    height: 19px;
    fill: $video--btn-icon;
  }
}

@media (max-width: $tablet-width) {
  .video {
    margin-bottom: 155px;
    padding-top: 70px;

    h2 {
      font-size: 24px;
      line-height: 1.25;
    }

    p {
      width: 430px;
      margin: 0 auto 40px;
    }
  }

  .video__inner {
    margin-bottom: -85px;

    img {
      width: 503px;
      height: 282px;
    }
  }

  .video__btn {
    width: 91px;
    height: 91px;
    padding: 32px;
    padding-left: 40px;

    svg {
      width: 18px;
      height: 25px;
    }
  }
}

@media (max-width: $mobile-width) {
  .video {
    margin-bottom: 120px;
    padding-top: 85px;

    p {
      width: 288px;
      margin-bottom: 50px;
    }
  }

  .video__inner {
    margin-bottom: -50px;

    img {
      width: 288px;
      height: 161px;
    }
  }

  .video__btn {
    width: 65px;
    height: 65px;
    padding: 23px;
    padding-left: 29px;

    svg {
      width: 13px;
      height: 19px;
    }
  }
}
