.write-us {
  input {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 11px 28px;
    font: inherit;
    font-size: 15px;
    line-height: 1.6;
    color: $write-us--txt;
    background: $write-us--bg;
    border: 1px solid $write-us--border;
    border-radius: 4px;
    outline: none;
    cursor: pointer;

    &:hover,
    &:focus {
      padding: 10px 27px;
      border: 2px solid $site;
    }
  }

  .write-us__error,
  .write-us__error:hover,
  .write-us__error:focus {
    border-color: red;
  }
}

@media (max-width: $tablet-width) {
  .write-us {
    input {
      padding: 11px 18px;

      &:hover,
      &:focus {
        padding: 10px 17px;
      }
    }
  }
}

@media (max-width: $mobile-width) {
  .write-us {
    input {
      padding: 11px 24px;

      &:hover,
      &:focus {
        padding: 10px 23px;
      }
    }
  }
}
