// Colors

$black: #000000;

$black-almost: #070707;
$black-nigth: #131314;
$black-coal: #1c1c1c;
$grey-dark-extra: #1f1f1f;
$grey: #48494d;
$grey-ligth: #c9ccd4;
$grey-extra: #e6e6e6;
$white-milk: #f6f6f6;
$white-almost: #f6f7f9;

$white: #ffffff;

$site: #0ad9c6;

// Fonts

$opensans: "Open Sans", verdana, sans-serif;

// Viewports

$mobile-width: 767px;
$tablet-width: 1023px;
$desktop-width-only: 1024px;
$desktop-width-max: 1200px;

// Blocks

$btn--txt: $black;
$btn--txt-hover: $site;
$btn--txt-active: $white;
$btn--bg: $site;
$btn--bg-hover: $white;
$btn--bg-active: $site;

$page--txt: $black;
$page--bg: $white;

$about-us--txt: $grey-dark-extra;
$about-us--counter: $site;

$contacts--link: rgba($black, 0.5);
$contacts--link-hover: $site;
$contacts--link-active: rgba($site, 0.7);
$contacts--icon: $site;
$contacts--icon-active: rgba($site, 0.7);

$footer--txt: $grey-dark-extra;
$footer--txt-alt: rgba($black, 0.7);
$footer--map-bg: $grey-extra;

$header--txt: $white;
$header--txt-alt: rgba($white, 0.8);
$header--bg: $black-nigth;

$navigation--link: rgba($white, 0.7);
$navigation--link-hover: $site;
$navigation--link-active: rgba($site, 0.7);
$navigation--bg: $black-coal;
$navigation--border: rgba($white, 0.2);
$navigation--list-bg-opened: $white;
$navigation--link-txt-opened: $grey;
$navigation--link-bg-opened: $white-milk;
$navigation--toggle-bg: $site;
$navigation--toggle-burger: $black;

$write-us--txt: rgba($black-coal, 0.5);
$write-us--bg: $white;
$write-us--border: $grey-ligth;
