// Colors

$black: #000000;

$black-almost: #070707;
$black-nigth: #131314;
$black-coal: #1C1C1C;
$grey-dark-extra: #1F1F1F;
$grey-ligth: #C9CCD4;
$white-almost: #F6F7F9;

$white: #ffffff;

$site: #0AD9C6;

// Fonts

$opensans: "Open Sans", verdana, sans-serif;

// Viewports

$mobile-width: 767px;
$tablet-width: 1023px;
$desktop-width-only: 1024px;

// Blocks

$page--txt: $black;
$page--bg: $white;
