// Colors

$black: #000000;

$black-almost: #070707;
$black-nigth: #131314;
$black-coal: #1c1c1c;
$grey-dark-extra: #1f1f1f;
$grey-ligth: #c9ccd4;
$white-almost: #f6f7f9;

$white: #ffffff;

$site: #0ad9c6;

// Fonts

$opensans: "Open Sans", verdana, sans-serif;

// Viewports

$mobile-width: 767px;
$tablet-width: 1023px;
$desktop-width-only: 1024px;

// Blocks

$btn--txt: $black;
$btn--txt-hover: $site;
$btn--txt-active: $white;
$btn--bg: $site;
$btn--bg-hover: $white;
$btn--bg-active: $site;

$page--txt: $black;
$page--bg: $white;

$header--txt: $white;
$header--txt-alt: rgba($white, 0.8);
$header--bg: $black-nigth;

$navigation--link: rgba($white, 0.7);
$navigation--link-hover: $site;
$navigation--link-active: rgba($site, 0.7);
$navigation--border: rgba($white, 0.2);

$write-us--txt: rgba($black-coal, 0.5);
$write-us--bg: $white;
$write-us--border: $grey-ligth;
